# Compile Toronto output data for pedestrian, bike, auto, and public transport

In [1]:
import pandas as pd
import requests
import boto3
import json

In [ ]:
city = "Ontario"

In [24]:
s3 = boto3.client('s3')

final_df = pd.DataFrame()

for i in range(4):
    # read in output file
    fileobj = s3.get_object(Bucket='bl-buildings',Key='Outputs/' + city + '_city_center_instance_' + str(i) + '_auto') 
    text = fileobj["Body"].read().decode()
    
    # add a delimiter to the file
    delimited_text = text.replace('"units":"kilometers"}{"sources"', '"units":"kilometers"}\n{"sources"')
    text_file = open("delimited.txt", "w")
    n = text_file.write(delimited_text)
    text_file.close()
    
    # parse out dictionaries
    resultsList = []
    print("Started Reading JSON file which contains multiple JSON document")
    with open("delimited.txt") as f:
        for jsonObj in f:
            resultsDict = json.loads(jsonObj)
            resultsList.append(resultsDict)
    
    for j in range(len(resultsList)):
        # get dataframe of lat/longs
        df_sources = pd.DataFrame.from_records(resultsList[j]["sources"][0])

        # get dataframe of distances and times
        sources_to_targets_lst = [item for sublist in resultsList[j]["sources_to_targets"] for item in sublist]
        df_sources_to_targets = pd.DataFrame.from_records(sources_to_targets_lst)

        # merge together and keep relevant columns
        merged = df_sources.merge(df_sources_to_targets, how="left", left_index=True, right_index=True)
        merged = merged[["lon", "lat", "time"]].rename(columns={"time":"auto_time"})

        final_df = pd.concat([final_df,merged],ignore_index=True)

Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document

In [25]:
final_df.shape

(53296, 3)

In [26]:
for mode in ["bicycle", "pedestrian"]:
    
    final_df_mode = pd.DataFrame()
    
    for i in range(4):
        # read in output file
        fileobj = s3.get_object(Bucket='bl-buildings',Key='Outputs/' + city + '_city_center_instance_' + str(i) + '_' + mode) 
        text = fileobj["Body"].read().decode()

        # add a delimiter to the file
        delimited_text = text.replace('"units":"kilometers"}{"sources"', '"units":"kilometers"}\n{"sources"')
        text_file = open("delimited.txt", "w")
        n = text_file.write(delimited_text)
        text_file.close()

        # parse out dictionaries
        resultsList = []
        print("Started Reading JSON file which contains multiple JSON document")
        with open("delimited.txt") as f:
            for jsonObj in f:
                resultsDict = json.loads(jsonObj)
                resultsList.append(resultsDict)

        for j in range(len(resultsList)):
            # get dataframe of lat/longs
            df_sources = pd.DataFrame.from_records(resultsList[j]["sources"][0])

            # get dataframe of distances and times
            sources_to_targets_lst = [item for sublist in resultsList[j]["sources_to_targets"] for item in sublist]
            df_sources_to_targets = pd.DataFrame.from_records(sources_to_targets_lst)

            # merge together and keep relevant columns
            merged = df_sources.merge(df_sources_to_targets, how="left", left_index=True, right_index=True)
            merged = merged[["lon", "lat", "time"]].rename(columns={"time":mode + "_time"})

            final_df_mode = pd.concat([final_df_mode,merged],ignore_index=True)
            
    final_df = final_df.merge(final_df_mode, left_on=["lon", "lat"], right_on=["lon", "lat"])

Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document

In [27]:
final_df.shape

(53296, 5)

In [28]:
final_df_transit = pd.DataFrame()

for batch in range(4):
    fileobj = s3.get_object(Bucket='bl-buildings',Key='Outputs/' + city + '_public_transit_' + str(batch)) 
    text = fileobj["Body"].read().decode().replace("\n","").replace("null",'{"cost":-1}\n')\
                    .replace("  ", "").replace('}{"has_time', '}\n{"has_time')\
                    .replace('}{"cost"', '}\n{"cost"')
    text_file = open("delimited.txt", "w")
    n = text_file.write(text)
    text_file.close()

    # parse out dictionaries
    resultsList = []
    print("Started Reading JSON file which contains multiple JSON document")
    with open("delimited.txt") as f:
        for jsonObj in f:
            resultsDict = json.loads(jsonObj)
            resultsList.append(resultsDict)
            
    print(len(resultsList))
            
    results_df = pd.DataFrame.from_records(resultsList[-13324:])
    
    final_df_transit = pd.concat([final_df_transit,results_df],ignore_index=True)

Started Reading JSON file which contains multiple JSON document
13324
Started Reading JSON file which contains multiple JSON document
14185
Started Reading JSON file which contains multiple JSON document
13324
Started Reading JSON file which contains multiple JSON document
13324

In [29]:
final_df_transit.shape

(53296, 8)

In [8]:
orig_input = pd.DataFrame()

for batch in range(4):
    fileobj = s3.get_object(Bucket='bl-buildings',Key='Inputs/' + city + '_public_transit_batch_' + str(batch)) 
    text = fileobj["Body"].read().decode().replace('}{"locations"', '}\n{"locations"')
    text_file = open("orig_input.txt", "w")
    n = text_file.write(text)
    text_file.close()
    
    resultsList = []
    print("Started Reading JSON file which contains multiple JSON document")
    with open("orig_input.txt") as f:
        for jsonObj in f:
            resultsDict = json.loads(jsonObj)
            resultsList.append(resultsDict["locations"][0])
            
    results_df = pd.DataFrame.from_records(resultsList)
    
    orig_input = pd.concat([orig_input,results_df],ignore_index=True)

Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document
Started Reading JSON file which contains multiple JSON document

In [31]:
public_transit_merged.shape

(53296, 4)

In [9]:
public_transit_merged = orig_input\
                        .merge(final_df_transit, left_index=True, right_index=True)[["lat", "lon", "cost", "time"]]

In [38]:
final_df = final_df.merge(public_transit_merged, left_on=["lon", "lat"], right_on=["lon", "lat"], how="left")

In [39]:
final_df = final_df.rename(columns={"time":"transit_time"})

In [40]:
final_df["transit_auto_ratio"] = final_df["transit_time"]/final_df["auto_time"]

In [41]:
final_df.shape

(53296, 8)

In [42]:
final_df.to_csv('s3://bl-buildings/Outputs/' + city + '_final_df.csv', index=False)

In [43]:
import pandas as pd
from pyproj import Proj, transform

inProj = Proj(init='epsg:4326')
outProj = Proj(init='epsg:3857')

def towgs84(row):
    return pd.Series(transform(inProj, outProj, row["lon"], row["lat"]))

wsg84_df = final_df.apply(towgs84, axis=1)

/anaconda3/envs/macs30123/lib/python3.7/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/anaconda3/envs/macs30123/lib/python3.7/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/anaconda3/envs/macs30123/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1

In [44]:
final_df_mercator = final_df.merge(wsg84_df, how="left", left_index=True, right_index=True)\
                            .rename(columns={0:"x", 1:"y"})

In [45]:
final_df_mercator

,lon,lat,auto_time,bicycle_time,pedestrian_time,cost,transit_time,transit_auto_ratio,x,y
0,-79.412416,43.708857,775.0,1711.0,4819,NaN,NaN,NaN,-8.840150e+06,5.420497e+06
1,-79.409479,43.708958,734.0,1711.0,4715,NaN,NaN,NaN,-8.839823e+06,5.420513e+06
2,-79.414928,43.710219,809.0,1784.0,5070,NaN,NaN,NaN,-8.840429e+06,5.420707e+06
3,-79.413304,43.711973,804.0,1772.0,5029,NaN,NaN,NaN,-8.840249e+06,5.420977e+06
4,-79.415241,43.715173,821.0,1893.0,5423,NaN,NaN,NaN,-8.840464e+06,5.421470e+06
...,...,...,...,...,...,...,...,...,...,...
53291,-79.309560,43.666485,668.0,1557.0,4912,NaN,NaN,NaN,-8.828700e+06,5.413974e+06
53292,-79.288148,43.670974,939.0,2382.0,6198,NaN,NaN,NaN,-8.826316e+06,5.414665e+06
53293,-79.286943,43.673821,911.0,2393.0,6324,NaN,NaN,NaN,-8.826182e+06,5.415103e+06
53294,-79.284854,43.674476,899.0,2453.0,6464,NaN,NaN,NaN,-8.825950e+06,5.415204e+06
53295,-79.287694,43.675556,891.0,2436.0,6473,NaN,NaN,NaN,-8.826266e+06,5.415370e+06

In [46]:
final_df_mercator.to_csv('s3://bl-buildings/Outputs/' + city + '_final_df_mercator.csv', index=False)